{% extends 'EIPHRBundle::/Visitor/layout.html.twig' %}
{% block content %}
<section class="content-section">
    <div class="container">
        <h2>{{ 'credentials.lost'|trans|raw }}</h2>
    </div>
</section>
<section class="content-section saw">
    <div class="container">
        <div id="credentials" class="well">
            {% if (error != false) %}
            <div>
                {{ error|trans }}
            </div>
            {% elseif (sent == true) %}
            <div>
                {{ 'email.sent'|trans }}
            </div>
            {% else %}
            <form method="post" action="" class='form-horizontal'>
                {{ form_widget(form._token) }}
                <div class="error-msg">
                    {{ form_errors(form) }}
                </div>
                <label>{{ 'email.your'|trans }}</label>
                {{ form_widget(form.email) }}
                <input type="submit" class="btn btn-small btn-primary" />
            </form>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}