{% extends 'EIPHRBundle::/Visitor/layout.html.twig' %}
{% block content %}

<div class='well'>
<h1 class='page-header'>{{ 'password.reset.title'|trans }}</h1>
<form method="post" action="">
    {{ form_widget(form._token) }}
    <div class="error-msg">
        {{ form_errors(form) }}
    </div>
    <div>
        <label>{{ 'password.new'|trans  }}</label>
        {% if form.password.vars.errors|length %}
        <div class="error-msg">
            {{ form_errors(form.password) }}
        </div>
        {% endif %}
        {{ form_widget(form.password) }}
    </div>
    <div>
        <label>{{ 'password.confirm'|trans }}</label>
        {% if form.confirmPassword.vars.errors|length %}
        <div class="error-msg">
            {{ form_errors(form.confirmPassword) }}
        </div>
        {% endif %}
        {{ form_widget(form.confirmPassword) }}
    </div>
    <input type="hidden" name="token" value="{{ token }}" />
    <input type="submit" />
</form>
</div>
{% endblock %}