{% extends 'EIPHRBundle::/Game/layout.html.twig' %}
{% block content %}

{% if errors | length == 0 %}
<div>
    <p>
    {{ schema.name }} {{ 'build.begin'|trans }} {{ 'at'|trans }} {{ town.name }}
    </p>
    <a href="{{ path('hr_towns') }}">{{ 'building.back.to.towns' }}</a>
</div>
{% else %}
<div class="error-msg">
    <ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}